body {
	
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	background-image: url("https://github.com/maxfaneuff/Basic-Portfolio/blob/master/assets/images/dust_scratches.png?raw=true")

}

h1 {
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	position: relative;

}

.navbar-brand {
	padding-left: 60px;
	position: relative;
}

.navbar-nav {
	position: relative;
	left: 235px;
}

.panel-title {
	text-align: center;

}

@media screen and (max-width: 992px) {
	.navbar-nav{
		position: absolute;
		left: 70%;
	}
}

